/* font-family: 'Poppins', sans-serif; */

/* =========================================================
variable initialize
=============================================== */
:root {
    --main-color: #F95353;
    --themeligt: #EBF4FB;
    --dark1: #222;
    --dark2: #333;
    --white: #fff;
    --transition: .5s all;
}

/* =========================================================
repated css initialize
=============================================== */
body {
    background-color: var(--themeligt);
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden !important;
}
html{
    overflow-x: hidden;
}

.p-80 {
    padding: 80px 0;
}

.pt-80 {
    padding-top: 80px;
}

.pb-80 {
    padding-bottom: 80px;
}

.pb-45 {
    padding-bottom: 45px;
}

.text-brand {
    color: var(--main-color);
}

.btn-danger {
    border-radius: 0;
    background-color: transparent;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    position: relative;
    z-index: 1;
    transition: var(--transition);
}

.btn-danger:hover {
    background-color: transparent !important;
    transition: var(--transition);
    border: 2px solid var(--main-color);
}

.btn-danger::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    top: 0;
    left: 0;
    background-color: var(--main-color);
    z-index: -1;
    transition: var(--transition);
}

.btn-danger:hover::before {
    width: 100%;
    transition: var(--transition);

}

.btn-outline-danger {
    border-radius: 0;
    border: 2px solid var(--main-color);
}

.btn-outline-danger:hover {
    background-color: var(--main-color);
    border: 2px solid var(--main-color);

}

.sec-cap h2 {
    font-size: 45px;
    color: var(--dark1);
    font-weight: 800;
    text-transform: uppercase;
}

.sec-cap h2 span {
    color: var(--main-color);
}

.sec-border {
    background-color: var(--main-color);
    height: 2px;
    width: 100px;
    margin: 10px auto;
}

img {
    width: 100%;
}

.btn-outline-danger {
    color: var(--main-color);
}

/* =========================================================
header/navbar
=============================================== */
.navbar {
    padding: 20px 0;
    transition: var(--transition);

}

/* navbar toggler */
.navbar-toggler {
    border-radius: 2px;
    background-color: var(--main-color);
    color: var(--white);
    padding: 6px 15px;
}

.navbar-toggler:focus {
    box-shadow: none;

}

.fa-bars-staggered {
    transition: var(--transition);
}

.fa-bars-staggered.fa-xmark {
    transform: rotate(360deg);
    transition: var(--transition);
}

.navbar-toggler i {
    font-size: 18px;
}

.navbar .navbar-brand {
    font-size: 32px;
    text-transform: capitalize;
    color: var(--white);
    font-weight: 700;
    transition: var(--transition);


}

.navbar-nav .nav-item {
    margin: 0 8px;
}

.navbar-nav .nav-item .nav-link {
    font-size: 15px;
    text-transform: capitalize;
    color: var(--white);
    font-weight: 600;
    letter-spacing: .5px;
    transition: var(--transition);
}

.navbar-nav .nav-item .nav-link.active {
    transition: var(--transition);
    color: var(--main-color);

}

.navbar-nav .nav-item .nav-link:hover {
    transition: var(--transition);
    color: var(--main-color);

}

/* stikcy navbar */

.navbar.navbg {
    background-color: var(--white);
    padding: 1px 0;
    transition: var(--transition);
    box-shadow: 0 .125rem .25rem rgba(var(--bs-body-color-rgb), .075) !important;

}

.navbar.navbg .navbar-brand {
    /* font-size: 28px; */
    transition: var(--transition);
    color: var(--dark1);
}

.navbar.navbg .nav-link {
    color: var(--dark2);
}

/* =========================================================
banner/hero
=============================================== */
.banner {
    background-size: cover;
    background-position: center center;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    color: var(--white);
}

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: .3;
    z-index: -1;
}

.baner-fluid {
    height: 100vh;
    display: flex;
    align-items: center;
}

canvas.particles-js-canvas-el {
    position: absolute;
    top: 0;
    left: 0;

}

.banner-content {
    max-width: 700px;
}

.banner-content h1 {
    font-size: 50px;
    font-weight: 600;
    margin: 15px 0;
}

.banner-content b {
    font-size: 50px;
    font-weight: 600;
    color: var(--main-color);

}


.banner-content p {
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 20px;
}

.selector {
    display: flex;
    justify-content: start !important;
}

/* =========================================================
about us
=============================================== */
.about-image {
    background: var(--white);
    padding: 10px;
}

.about-bio .list-inline .list-inline-item:first-child {
    width: 100px;
}

.about-right h2 {
    font-weight: 600;
    color: var(--dark1);
}

.about-right p {
    font-size: 15px;
    line-height: 26px;
    color: var(--dark2);
    margin: 23px 0;
}

/* =========================================================
services
=============================================== */
.signle-services {
    background-color: var(--white);
    padding: 20px 20px;
    position: relative;
    transition: var(--transition);
    z-index: 1;

}

.signle-services:hover {
    box-shadow: 0 1rem 3rem rgba(var(--bs-body-color-rgb), .175) !important;
    transform: translateY(-5px);
    transition: var(--transition);

}

.signle-services::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1%;
    width: 100%;
    background-color: var(--main-color);
    z-index: -1;
    transition: var(--transition)
}

.signle-services:hover::before {
    height: 100%;
    color: var(--white) !important;
    transition: var(--transition);
}

.signle-services i {
    font-size: 20px;
    background-color: var(--main-color);
    height: 60px;
    width: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 50%;
    color: var(--white);
    transition: var(--transition);
}

.signle-services:hover.signle-services i {
    background-color: var(--white);
    color: var(--main-color);
    transition: var(--transition);
    box-shadow: 0 1rem 3rem rgba(var(--bs-body-color-rgb), .175) !important;
    transform: translateY(-10px);
}

.signle-services h4 {
    font-size: 20px;
    color: var(--dark1);
    text-transform: capitalize;
    font-weight: 600;
    transition: var(--transition);
    margin: 20px 0;
}

.signle-services:hover.signle-services h4 {
    color: var(--white);
    transition: var(--transition);
}

.signle-services p {
    font-size: 15px;
    line-height: 26px;
    color: var(--dark2);
    transition: var(--transition);
}

.signle-services:hover.signle-services p {
    color: var(--white);
    transition: var(--transition);
}

/* =========================================================
available 
=============================================== */
.available {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
}

.available::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--dark1);
    z-index: -1;
    opacity: .7;
}

/* =========================================================
portfolio
=============================================== */
.single-portfolio {
    position: relative;
    overflow: hidden;
    transition: var(--transition);
}

.portfolio-overly {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--main-color);
    opacity: 0;
    transition: var(--transition);

}

.single-portfolio:hover .portfolio-overly {
    opacity: .6;
    transition: var(--transition);

}

.portfolooverly-item {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: var(--transition);

}

.single-portfolio:hover .portfolooverly-item {
    visibility: show;
    opacity: 1;
    top: 50%;
    transition: var(--transition);

}

.portfolooverly-item i {
    font-size: 20px;
    color: var(--white);
}

/* =========================================================
counter up
=============================================== */
.countersection {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    z-index: -1;
    color: var(--white);
    padding: 100px 0;
}

.countersection::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--dark1);
    opacity: .8;
    z-index: -1;
}

.single-counter {
    padding: 30px 30px;
    position: relative;
    z-index: 1;

}

.single-counter::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: var(--dark1);
    opacity: .2;
    z-index: -1;
}

.single-counter h2 {
    font-size: 38px;
    font-weight: 600;
    margin-bottom: 5px;
}

.single-counter p {
    font-size: 18px;
    font-weight: 600;
}

/* =========================================================
resume
=============================================== */
.single-resume {
    border: 1px solid var(--main-color);
    border-radius: 10px;
    padding: 30px 30px;
    position: relative;
    transition: var(--transition);

    /* overflow: hidden; */
}

.single-resume::before {
    content: "";
    position: absolute;
    top: 0;
    left: -20px;
    height: 20px;
    width: 20px;
    border: 1px solid var(--main-color);
    border-radius: 50%;
    background-color: var(--themeligt);
    z-index: 1;
    transition: var(--transition);

}

.single-resume:hover.single-resume::before {
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    transition: var(--transition);


}

.single-resume::after {
    content: "";
    position: absolute;
    top: 0;
    left: -11px;
    height: 100%;
    width: 1px;
    background-color: var(--main-color);

}

.single-resume h5 {
    font-size: 16px;
    font-weight: 600;
    color: var(--dark2);
}

.single-resume span {
    font-weight: 700;
    font-size: 14px;
    color: var(--main-color);
    margin: 13px 0;
    display: block;
    ;

}

.single-resume p {
    font-size: 15px;
    color: var(--dark2);
    line-height: 26px;
    font-weight: 400;
}


/* =========================================================
blog
=============================================== */
.blog-item {
    background-color: var(--white);
    transition: var(--transition);
    overflow: hidden;
}

.blog-item:hover {
    transition: var(--transition);
    box-shadow: 0 1rem 3rem rgba(var(--bs-body-color-rgb), .175) !important;
    /* transform: translateY(-5px); */
}




.blog-item img {
    transform: scale(1);
    transition: var(--transition);
    height: 300px;
    max-height: 300px;
}

.blog-item:hover img {
    transform: scale(1.1);
    transition: var(--transition);

}

.blog-box {
    padding: 20px 20px;
}

.blog-item .blog-list ul li span {
    font-size: 12px;
    font-weight: 500;
}

.blog-item .blog-box .blog-link {
    font-size: 23px;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--dark1);
    text-decoration: none;
    transition: var(--transition);
    margin-bottom: 10px;
}

.blog-item .blog-box .blog-link:hover {
    transition: var(--transition);
    color: var(--main-color);
}

.blog-item .blog-box p {
    font-size: 15px;
    line-height: 27px;
    color: var(--dark1);
}

.blog-item .read-more {
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
    color: var(--dark1);
    text-decoration: none;
    transition: var(--transition);
}

.blog-item .read-more:hover {
    color: var(--main-color);
    transition: var(--transition);

}

/* =========================================================
contact
=============================================== */
.form-control {
    border-radius: 0;
    box-shadow: 0 .125rem .25rem rgba(var(--bs-body-color-rgb), .075) !important;
    background-color: transparent;
    padding: 8px 10px;
}

.form-control:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid var(--main-color);
    background-color: transparent;
}

.form-control::placeholder {
    font-size: 14px;
    ;
}

/* =========================================================
footer
=============================================== */
.footer {
    background-color: var(--dark1);
    color: var(--white);
    padding: 30px 0;
}

.footer-text p {
    margin-bottom: 0;
}

/* =========================================================
website color swtcher
=============================================== */
.color-switcher {
    position: fixed;
    top: 30%;
    right: -269px;
    background-color: var(--white);
    padding: 10px;
    transition: var(--transition);
    z-index: 999;

}

.color-switcher.colorboxshow {
    right: 0;
    transition: var(--transition);
}

.coloseitcher-icon {
    height: 40px;
    width: 40px;
    background-color: var(--main-color);
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    position: absolute;
    top: 24px;
    left: -40px;
}

.coloseitcher-icon i {
    color: var(--white);
    font-size: 18px;
}

.colorbtn {
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.colorbox ul {
    margin-bottom: 0;
}

.purple {
    background-color: #FF4757;
}

.green {
    background-color: #55E6C1;
}

.blue {
    background-color: #1B9CFC;
}

.orange {
    background-color: #F28123;
}

.yellow {
    background-color: #FFC312;
}

/* =========================================================
responsive code
=============================================== */
/* // X-Small devices (portrait phones, less than 576px) */
/* // No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
    .banner-content h1 {
        font-size: 30px;

    }

    .ah-words-wrapper b {
        font-size: 30px;
    }

    .sec-cap h2 {
        font-size: 28px;

    }
}

/* // Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
    .navbar-nav {
        background-color: var(--white);
        text-align: center;
        color: var(--dark1);

    }

    .navbar-nav .nav-item .nav-link {
        color: var(--dark1);
    }

    .about-right p {

        margin: 5px 0 19px 0;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}